* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  min-height: 100vh;
}

.floating-btn-container {
  position: fixed;
  bottom: 5rem;
  right: 7rem;
  z-index: 1000;
}
